@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-color-dark: #121212;
  }

  body {
    @apply text-white bg-darkGunmetal overflow-hidden;
    font-family: "Inter", sans-serif;
  }

  input {
    @apply outline-none;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  svg {
    cursor: pointer;
  }
}

@layer components {
  .container {
    @apply h-screen mx-auto flex items-center justify-center;
  }

  .btn-primary {
    @apply bg-mediumPurple px-20 py-6 uppercase rounded-lg mx-auto font-semibold hover:bg-hanPurple transition-all;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .top-navigation-icon {
    @apply text-white transition duration-300 ease-in-out 
    hover:text-mediumPurple 
    cursor-pointer;
  }

  .selected {
    @apply bg-onyx rounded-3xl;
  }

  .grid-container {
    @apply w-full h-screen;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    overflow: hidden;
  }

  .chat-messages::-webkit-scrollbar {
    width: 0.2rem;
  }

  .chat-messages::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
  }

  .hidden-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.Toastify__toast {
  font-family: "Inter", sans-serif;
}
